[2016-11-27 21:29] unlight opened #1 "Set timeout and check if server is required"

[2016-11-28 08:57] unlight opened #2 "replace json encode/decode to sublime.encode_value/decode_value"

[2016-12-01 21:28] #2 closed, assigned to nobody

[2016-12-02 08:09] unlight opened #3 "Use status_message for errors (node not found, etc.)"

[2016-12-08 19:47] unlight opened #4 "If nothing found suggest all modules"

[2016-12-15 06:54] unlight opened #5 "Import from buffer"

[2016-12-15 20:10] #5 closed, assigned to nobody

[2016-12-16 18:37] #4 closed, assigned to nobody

[2016-12-16 20:49] #1 closed, assigned to nobody

[2016-12-16 20:49] #3 closed, assigned to nobody

[2016-12-21 08:53] unlight opened #6 "respect Project directory/ source root for windows"

[2016-12-25 09:49] #6 closed, assigned to nobody

[2016-12-30 10:21] unlight opened #7 "Loading indicator, status_message"
Parsed modules / all modules

[2017-01-06 09:08] scarlac opened #8 ""Update imports" fails"
Plugin does nothing when activated or claims there are no matching imports. Seems related to this error in the console:
[code]

Using Sublime Text 3, Stable Channel, Build 3126, on macOS 10.12.2.

[2017-01-07 19:45] mreq commented on #8
Same on Ubuntu 16.04, build 3126

[2017-01-10 17:42] unlight commented on #8
It is hard to say what is wrong here.
Need additional information about folder structure.
I've released version 1.0.6 which may not fail for unexisting directory and can give more info about error.

[2017-01-19 11:39] unlight opened #9 "ComponentFixture cannot be imported"

[2017-01-19 11:41] unlight commented on #8
Will be closed, if no feedback will be provided.

[2017-01-19 12:56] mreq commented on #8
The error stays the same.

[code]

[2017-01-20 06:40] unlight opened #10 "Incrrect adding when to `import as` statement"
1. Given
[code]
2. When insert `mockStudyData_msp3`
3. `import { mockStudyData, as, studyData, mockStudyData_msp3 }`

Expected:
`import { mockStudyData as studyData, mockStudyData_msp3 }`

[2017-01-21 19:25] #10 closed, assigned to nobody

[2017-01-24 08:42] Ledzz commented on #8
+1, got a same issue.

Last line says `Folder name is invalid`

Folder root is `D:\sites\technokratos\seiko`, it's a typical Angular2 app.

[code]

[2017-01-24 18:49] unlight commented on #8
@scarlac @mreq @Ledzz
Finally figure out the root of issue :zomba:
Issue happens because package files were packed by PackageControl to `ImportHelper.sublime-package` archive.
To fix the issue:
1. Close Sublime
2. Remove `Data/Installed Packages/ImportHelper.sublime-package`
3. Start Sublime

PackageControl should install missing package.

Check that ImportHelper was installed to `Data/Packages/Im

[2017-01-28 18:22] mreq commented on #8
Sorry, now it fails on

[code]

[2017-01-30 21:50] unlight commented on #8
@mreq
It should be fixed since version 1.0.10 (already deployed to Package Control)

[2017-02-11 17:40] unlight opened #11 "Search in @types folder (node)"

[2017-02-12 11:16] #7 closed, assigned to nobody

[2017-02-13 12:03] scarlac commented on #8
@mreq Can you confirm that it's been fixed? Then we can close the issue.

[2017-02-14 07:48] unlight opened #12 "Update imports (source) on new file -> save"

[2017-02-16 20:48] unlight opened #13 "Parse ES5 commonjs modules"
Can we detect `module.exports`?

[2017-02-16 20:52] unlight opened #14 "Require node module"
Depends on #13
1. Press hot key
2. Select node module
3. `require` statement inserts to top of import

[2017-02-24 21:08] unlight opened #15 "Remove duplicated from js and ts"
[code]

[2017-02-24 22:04] #8 closed, assigned to nobody

[2017-02-24 22:12] #9 closed, assigned to nobody

[2017-02-24 22:12] unlight commented on #9
1.1.0

[2017-02-24 22:14] unlight commented on #12
Implement in 1.1.0

[2017-02-24 22:14] #12 closed, assigned to nobody

[2017-02-25 08:41] unlight opened #16 "Respect folder_exclude_patterns and file_exclude_patterns"

[2017-02-27 20:54] #11 closed, assigned to nobody

[2017-03-08 18:55] #16 closed, assigned to nobody

[2017-03-20 06:42] max-mykhailenko opened #17 "[Bug] Alert after each "Update imports""
[code]

[2017-03-20 20:00] unlight commented on #17
Is that all?
It supposed to be a stack trace.

[2017-03-21 06:34] max-mykhailenko commented on #17
Yes, in console I also see only that message

[2017-03-22 20:52] unlight commented on #17
@max-mykhailenko
Apparently this is some kind of environment specific issue.
Can you provide more info about your folder structure?
* Content of the file where `...files/01.jpg` was found
* Content of `*.sublime-project` file

[2017-03-23 06:39] max-mykhailenko commented on #17
Hah, it's a link to the not existing file.

[2017-03-23 07:47] unlight commented on #17
That's make sense, this case should be handled.

[2017-03-23 18:16] unlight commented on #17
Should be fixed in v1.3.0, just released
I'm on Windows, so I'm not able to test file symlink, but directory symlink error handled fine.
Please, give some feedback if error still happens.

[2017-03-24 06:51] max-mykhailenko commented on #17
Works without errors. Thanks!

[2017-03-24 06:51] #17 closed, assigned to unlight

[2017-03-24 07:00] max-mykhailenko opened #20 "[Feature] Import libs from package.json"
Hi, can I ask you to write one more feature? I want to import `react`, `lodash` (all and as separate functions) and other modules from `package.json` dependencies and dev dependencies.

Is it possible?

Thanks

[2017-03-24 08:56] unlight commented on #20
I'm not sure that I understand the request. Can you give an example?

It's already (see screenshot in readme, e.g. '@angular/http')
If you cant find something which are defined in dependencies (or dev) that's maybe another bug.

[2017-03-24 13:11] max-mykhailenko commented on #20
When I want to import lodash I got this error.

<img width="399" alt="screen shot 2017-03-24 at 3 08 39 pm" src="https://cloud.githubusercontent.com/assets/1213198/24295529/cab9affc-10a3-11e7-94d4-4258445a33d4.png">

Part of ST settings, maybe this blocks from parsing
[code]

In imports list I also don't see `lodash`.

[2017-03-24 16:59] unlight commented on #20
That's because `lodash` is written in ES5, import-helper uses `esm-exports` under the hood, and it can parse only ES6 modules / TypeScript definition files.
You can try `lodash-es` instead.

Second option is parse typings for lodash-es5 `@types/lodash`, but it's not implemented yet. I've created issue [esm-exports#7](https://github.com/unlight/esm-exports/issues/7)

[2017-03-28 08:35] unlight opened #26 "Detect space_around_braces by checking first (or last) found import statement"

[2017-03-28 21:17] unlight commented on #26
1.4.0 settings per project

[2017-03-31 12:35] unlight opened #27 "tsx import keep extension"

[2017-05-02 22:53] #26 closed, assigned to unlight

[2017-05-02 22:53] #27 closed, assigned to unlight

[2017-05-02 22:54] unlight commented on #27
fixed 1.4.1

[2017-05-22 10:19] cappncode opened #32 "No imports found"
I keep getting (eg) No imports found for 'Router'.
This might not be the place to ask for support....but what am I doing wrong ?
The plugin looks really great but I seem to have problems understanding how to configure it for proper-use.
Where and how to configure import_root and folders[i].path_source is a mystery to me right now.
Sorry if this is not the place to ask for support. But I couldn't f

[2017-05-22 22:29] unlight commented on #32
Hard to say what is going wrong.

Possible wrong actions:
1. `Router` is not es2015/typescript file
2. No sublime-project

I may suggest enable debug mode:
1. Goto `Sublime-Text-3\Data\Packages\ImportHelper`
2. Open `utils.py` and comment `DEBUG = False` `# is comment for line in python`
3. Do `npm install` (inside Sublime-Text-3\Data\Packages\ImportHelper)
4. Restart sublime
5. Open sublime conso

[2017-05-23 07:29] cappncode commented on #32
Thnx for your reply….

I followed your instructions and after the restart and the “Update Imports”  I get the following error:

Import Helper
Traceback (most recent call last):
  File "/Users/jesperkoot/Library/Application Support/Sublime Text 3/Packages/ImportHelper/utils.py", line 30, in run_command
    (err, out) = exec(['node', RUN_PATH, command, json])
  File "/Users/jesperkoot/Library/Applic

[2017-05-23 09:30] unlight commented on #32
Hm, do you have installed [node](https://nodejs.org/)?

[2017-05-23 09:34] cappncode commented on #32
Yupz...
➜  ~ which node
/usr/local/bin/node
➜  ~ node -v
v7.9.0

[2017-05-23 22:42] unlight commented on #32
So, the error is pretty clear
FileNotFoundError: [Errno 2] No such file or directory: 'node'
But the reason does not.

I've checked closed issues, no one encountered with this error.

[2017-05-24 09:24] cappncode commented on #32
Do I have to change any settings in sublime itself...or do you have an example of config files or project files? Maybe that helps !?

[2017-05-24 12:40] unlight commented on #32
You can try empty project (without any files and folders)
Than try to add one example ts file,
Do Update imports
You should see in console: N source modules found

I'll check people's similar issues:
https://github.com/73rhodes/Sublime-JSLint/issues/35
https://stackoverflow.com/questions/18014360/sublime-errno-2-no-such-file-or-directory-node

[2017-05-25 07:52] cappncode commented on #32
Good News !!! I have it working....

It seems there was something wrong with the project file itself. It now works on new and existing projects.  Thnx for all the effort !!! And keep up the good stuff !

[2017-06-13 07:34] unlight opened #33 "New command Update source imports only"

[2017-06-13 07:34] unlight commented on #33
need introduce new type = 0 source 1 =external

[2017-06-24 17:00] unlight commented on #33
Implemented in 1.5

[2017-06-24 17:00] #33 closed, assigned to nobody

[2017-06-28 09:31] Herteby opened #34 "Handle export default"
I think it should search for files with filenames that match the variable and have an `export default `statement. Maybe also search with camelCase converted to kebab-case.

[2017-06-28 10:09] Herteby opened #35 "[Feature] click filepath in import statement to go to it"
Title says it all :smile:

[2017-06-28 12:40] unlight commented on #34
`export default` [is supported](https://github.com/unlight/esm-exports/blob/8838747b9e608352ce3b4e6df99c654400a560d4/src/parse.spec.ts#L74-L79)
Please, provide your export default expression which does not work for you.

[2017-06-28 12:43] unlight commented on #35
I believe that ST3 has built in support.

[2017-06-28 13:32] Herteby commented on #34
Aah, sorry, the reason was that I had node 4 installed because I was working on a project that required it :smile:

[2017-06-28 13:32] #34 closed, assigned to nobody

[2017-06-28 13:39] Herteby commented on #35
Hmm, I have ST3 and I don't see anything in the context menu when i right-click the path :thinking:

[2017-06-28 18:22] unlight commented on #35
It is F12 goto definition command.
But anyway it is the job for another plugin, maybe such plugin already exists, try to find it here: https://packagecontrol.io/search/goto

Closing.

[2017-06-28 18:22] #35 closed, assigned to nobody

[2017-07-08 21:27] #32 closed, assigned to unlight

[2017-09-06 23:46] wootwoot1234 opened #36 "Will this remove unused imports?"
Will this remove unused imports?

[2017-09-07 11:18] unlight commented on #36
No.

[2017-09-07 11:20] unlight commented on #36
No.
Maybe possible in next major versions.

[2017-10-01 14:26] wolfgangbecker opened #37 ""There is no project file, Import Helper will not work without project""
Hi, I can't make the plugin work with Sublime Text Build 3143.
Right after installing and also after restarting Sublime, I get the message "There is no project file, Import Helper will not work without project".
Where does the project file need to be located, what name should it have and what goes into it?

Thanks in advance!

[2017-10-01 16:31] unlight commented on #37
That's true, project file is required.
You must create project from your working files and folders, you can do it in top menu:
`Project -> Save project as...`
Save project file in any place you want.
Then restart Sublime.

[2017-10-01 17:01] wolfgangbecker commented on #37
Awesome, it's working now. Thank you!

[2017-10-01 17:02] #37 closed, assigned to nobody

[2017-10-05 21:20] unlight commented on #36
I changed my mind.
This feature will be in next minor release, because it requires in my current work.
But it will work through `tsc --noUnusedLocals` and only for typescript.
Javascript files not yet supported
https://github.com/Microsoft/TypeScript/issues/6802

[2017-10-09 11:16] predragnikolic opened #38 "Can't complete suggestions with enter, can't ctrl+backspace"
Before I begin, just to say I am glad you made this package. It is great :)

But there is a tiny problem or problems.
When I close a project, and open a random file, example `index.js` when I get completions, I can't complete them with enter.
Another problem I run into is that I can't ctrl+blackspace.

All this works when I open a sublime project and then open `index.js`.

[2017-10-09 13:17] unlight opened #39 "Removed unused bugs"
[code]

[2017-10-09 13:36] unlight commented on #38
Hi.
This plugin cannot work without project.
And I did not get the point how plugin affect completions, it should not affect autocompletion feature.

[2017-10-09 20:02] predragnikolic commented on #38
Steps to reproduce the problem. This will be interesting.
Open a new window in sublime `SHIFT+CTRL+N`.
Create a new file `index.html`.
Start typing `<htm` , i am getting a suggestion
![image](https://user-images.githubusercontent.com/22029477/31356339-fdc61156-ad3d-11e7-8ec5-f81f042c438e.png)
Pressing enter to complete the suggestion. Expecting to complete the suggestion but I isn't, need to press

[2017-10-09 20:15] unlight commented on #38
I still don't understand the issue.
`SHIFT+CTRL+N` opens new sublime text instance **without project file**.
As I sad earlier, ImportHelper doesn't work without project.
You should see message in status bar or in console `ctrl + ~`

[2017-10-09 20:20] predragnikolic commented on #38
I understand that ImportHelper doesn't work without a project file, but if ImportHelper doesn't work, does it mean that when I open a `.css` file and get completion I can't complete them with the `Enter` key, as I could when your package is not enabled?

[2017-10-10 16:09] #38 closed, assigned to nobody

[2017-10-14 10:34] #39 closed, assigned to nobody

[2017-10-14 10:35] unlight commented on #36
Implemented in 1.6+

[2017-10-14 10:35] #36 closed, assigned to unlight

[2017-10-18 08:06] Appius opened #40 "Breaks PlainTasks plugin"
Somehow, installing this plugin breaks [PlainTasks plugin](https://github.com/aziz/PlainTasks).

When I try to create a new TODO item (by hot key, `ctrl+enter` for windows) in my `.todo` file, nothing happens and I get the following error in the console:
[code]
No commands are working while `ImportHelper` is installed next to it.
It's pretty sad for me, since I like to use both plugins on daily ba

[2017-10-18 12:47] jessecstewart commented on #40
I saw this error too. Can reproduce by simply creating a new window in Sublime. It seems to be related to having an empty/absent Sublime project. Maybe `do_insert_import.py:15` needs a null check?

[2017-10-19 06:23] Zyets opened #42 "Settings does not work"
I've tried to change both system and user settings, but that effects nothing.
Hope you'll fix that soon, cause its a great plugin. Thank you for your job))

[2017-10-19 15:57] jessecstewart commented on #40
This issue may be fixed by https://github.com/unlight/sublime-import-helper/pull/41.  @Appius can you confirm?

[2017-10-19 17:02] Appius commented on #40
Yes, it's working! Thank you very much! @jessecstewart

[2017-10-19 17:02] #40 closed, assigned to nobody

[2017-10-19 20:28] #42 closed, assigned to unlight

[2017-10-19 20:29] unlight commented on #42
Fixed in 1.6.3, new version will be published tomorrow.

[2017-10-23 09:12] rakshans1 opened #43 "node not found."
Node command not found error when using nvm.

[2017-10-24 20:16] unlight commented on #43
What is your OS?
What version of nvm?
Can you run node from any place of file system (means is node binary in your path environment)?

[2017-10-25 04:50] rakshans1 commented on #43
Os: Ubuntu 16.04
Nvm: 0.33.2

Yes node is loaded in environment path

[2017-10-28 11:20] JoshuaKin opened #44 "No imports found for 'Routes'"
when writing angular

[2017-10-28 18:17] unlight commented on #44
1. Is the behavior same after Update modules command?
2. Are you using project file?

[2017-10-28 18:28] JoshuaKin commented on #44
I built the project by terminal ,
And the plug-in cant used everywhere ，all show me ‘No imports found for... ’
nodejs installed.
On 10/29/2017 02:17, Roman Vasilev wrote:
Is the behavior same after Update modules command?
Are you using project file?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-28 18:49] unlight commented on #44
By asking `Are you using project file?` I mean that plugin need to know root path where start to search module.
Try to restart ST3 and if you see message in console and in status bar:
[code]
That means what it means, you need save you work files to project.
See #37

[code]

[2017-10-28 19:11] JoshuaKin commented on #44
yeah~I’ve got it!
THX for a lot for your help.

By the way, could u recommend some plugins about typescript competition or snippets ,or angular snippets .Thanks!!:)

发自网易邮箱大师
On 10/29/2017 02:49, Roman Vasilev wrote:

By asking Are you using project file? I mean that plugin need to know root path where start to search module.
Try to restart ST3 and if you see message in console and in status bar:

[2017-10-31 22:24] #44 closed, assigned to nobody

[2017-11-21 08:41] RickMeijer commented on #43
Same issue.
Os: MacOS 10.12.6
NVM: 0.33.2

Not finding a node executable in sublime is a common issue, apparently. See https://github.com/victorporof/Sublime-HTMLPrettify#oh-noez-command-not-found, for example.
It has to do whether your nvm script is in your profile or rc, whether sublime was run from the terminal or outside of one. Specifying a node_path in your sublime settings helps with some p

[2017-11-21 21:35] #15 closed, assigned to unlight

[2017-11-21 21:43] unlight commented on #43
@RickMeijer
Thanks, I thought about it.
Guys from stack overflow telling that: `shell=True` will solve the issue.
Do you know is that true?

[2017-11-23 18:27] unlight commented on #43
Possible fixed in v1.7.0

[2017-11-23 22:28] unlight commented on #43
@RickMeijer
@rakshans1
Please, check version 1.7.0

[2017-11-27 19:55] woozie commented on #43
same

<img width="638" alt="screen shot 2017-11-27 at 21 54 53" src="https://user-images.githubusercontent.com/3217527/33286301-ab7a0cee-d3bd-11e7-8aa4-66b7baf9781d.png">

[2017-11-28 20:31] mijelin opened #45 "Unable to find modules (source_modules and node_modules are `None`)"
# Issue
Getting the `No imports found for *` message when I try to auto-import.

I've tried uninstalling and reinstalling (it had previously been working fine).

# Debug info
## Sublime console output

Per https://github.com/unlight/sublime-import-helper/issues/32#issuecomment-303237359, I enabled debugging in `utils.py` and ran `Import Helper: Update imports`:
[code]

## Sublime project settings

[2017-11-28 23:30] unlight commented on #45
Looks like `esm-exports` some how returns Promise.reject(undefined).
In this case callback(err, result) will be executed.
`err` will be undefined and `result` undefined, undefined will be converted to python None type.

Previous version of `esm-exports` swallowed all errors while parsing and returned empty array.
It's bad pattern in general, need to catch this errors some how.
I need to think how

[2017-11-29 12:03] unlight commented on #43
In v1.7.3 introduced `node_bin` setting: https://github.com/unlight/sublime-import-helper#node_bin
It should solve the issue.

[2017-11-29 12:42] unlight commented on #45
Please, could you give a list of `devDependencies` and `dependencies` of your package.json?

[2017-11-29 14:23] woozie commented on #43
![screen shot 2017-11-29 at 16 23 02](https://user-images.githubusercontent.com/3217527/33379779-ab72486e-d521-11e7-825a-e7ba39e55a5e.png)

[2017-11-29 16:39] unlight commented on #43
@woozie
Thanks for quick response.
I see NODE_BIN is equal to `'node'` (default value), so I got some questions:
1. Are you sure that you are using version 1.7.3 (you can check it in `Sublime-Text-3/Data/Packages/ImportHelper/package.json -> version`)
2. Did you specified `node_bin` setting? If yes. In which file: project data file, import helper user settings or user preferences?

[2017-11-29 18:12] mijelin commented on #45
Sure!

[code]

[2017-11-30 00:27] woozie commented on #43
After clean install works properly. It was a package control cache.

Can you use super key binding instead ctrl? A lot of users running on mac

[2017-11-30 06:57] unlight commented on #43
@woozie
You can rebind keybindins as you wish.
Top menu -> Preference -> Key Bindings:
[code]

[2017-11-30 06:58] unlight commented on #43
@RickMeijer
@rakshans1
Guys can you confirm that new version works for you?
And how (did you specified node_bin setting)?

[2017-12-07 20:23] katanacrimson opened #46 "Add setting for semicolon usage"
As semicolons (in some style guides) are not even optional, but are required to be omitted (see StandardJS), semicolon usage ought to be something configurable in this plugin.

(Aside: nicely done, seems to work well. Thanks for your creation!)

[2017-12-11 15:52] katanacrimson opened #47 ""undefined is not a function""
As on tin - running into this error suddenly when trying to "Update Imports".  Probably some code I wrote, however...running tsc, the typescript compiles fine.

[code]

Considering there's no context outside of the package itself, not sure what's going wrong here.  LMK if you need any additional info.

[2017-12-11 15:59] katanacrimson commented on #47
...Looking at the file referenced, it *looks* like it's the Array.push()...which doesn't make a whole lot of sense.  Possibly the `result` array is getting nulled out somehow?

[2017-12-11 18:12] unlight commented on #47
It is very weird.
It should not depend on code that you have written.
Please, check you version of node. v6.0.0+ is required.

[2017-12-11 21:58] katanacrimson commented on #47
nvm installed version of node, using `8.9.0` currently.

[2017-12-12 18:18] unlight commented on #46
Just implemented in v1.7.5, wait a few hours until package will be updated by packagecontrol.io

[2017-12-12 18:18] #46 closed, assigned to unlight

[2017-12-12 18:19] unlight commented on #46
[Just implemented in v1.7.5](https://github.com/unlight/sublime-import-helper#from_semicolon), wait a few hours until package will be updated by packagecontrol.io

[2017-12-12 18:20] #43 closed, assigned to unlight

[2017-12-12 18:26] katanacrimson commented on #47
Just noticed that currently, if I run Update Imports, it gives me that error *twice* (the exact code block above). Not sure what to make of that, but it may be significant.

[2017-12-12 19:06] unlight commented on #47
https://github.com/unlight/sublime-import-helper/blob/master/backend/commands/get_modules.js#L25
This line throws error.
I cant imagine how I can get result as non array here.
I can add stupid check there like `Array.isArray(result)` but I would like to catch this bug.

Yes, it is running twice. First run for `dependecies`, second for `devDependencies`

[2017-12-12 20:31] katanacrimson commented on #47
In that case - here's dependencies and devDependencies (since you mentioned it - maybe it's relevant?):

[code]

[2017-12-12 22:59] unlight commented on #47
Thanks, it is reproducable now. I will investigate it.

[2017-12-13 21:33] #47 closed, assigned to unlight

[2017-12-13 21:34] unlight commented on #47
Fixed in v1.7.6

[2017-12-16 14:55] RickMeijer commented on #43
I'm so sorry for not replying. Work got in the way.
For me the solution was as I said in my last post (adding node bin directory to my paths in sublime). Since I never got the error after making node available to import helper, I kinda glossed over this discussion.
Thanks for your time! It all seems to work for me.

[2018-01-08 19:32] mijelin commented on #45
One of the recent releases appears to have fixed this (working fine on 1.7.6, possibly earlier).

Thanks!

[2018-01-08 19:32] #45 closed, assigned to unlight

[2018-01-13 07:46] kapooostin opened #48 "Sorting named imports"
Thank you for this very handy plugin.

Is it possible to an option to automatically sort named imports (I mean, names inside curly brackets)?

[2018-01-13 13:20] unlight commented on #48
Hi. Why existing options are not suitable for you?
1. [tslint/ordered-imports](https://palantir.github.io/tslint/rules/ordered-imports/)
2. [eslint/sort-imports](https://eslint.org/docs/rules/sort-imports)
3. https://github.com/AlexJuarez/eslint-plugin-import-order-autofix

Btw, similar issues in prettier https://github.com/prettier/prettier/issues/949 was closed due to out of scope.

[2018-01-13 13:28] unlight commented on #48
Oh, I got your point, You want to insert expression to specific positions to prevent tslint/eslint complains and using manual/semi/auto sorting.

[2018-01-14 20:24] kapooostin commented on #48
Well, I actually never knew about the options above and sorted multiple import members by hand.

1. I do not use Typescript, so to use this option would mean too much trouble for me. However TSLint possibilities look very promising.

2. I do use ESLint, but I do not need to group my imports the way it suggests and I don't see an option to disable it. The only thing I want to get here is member sor

[2018-01-25 07:25] xihaoxiaohao opened #49 "Cannot import from node_module"
I saved as project of my angular app, and it can auto import my files inside the src folder, but not outside like node_module. How can I setup like the demo gif's setting that it can auto import angular modules?

<img width="334" alt="a" src="https://user-images.githubusercontent.com/9826637/35375942-be5173de-015d-11e8-926f-b1e97c22b696.png">

[2018-01-27 10:54] unlight commented on #49
It is probably bug, but most likely you are not using project file, please check FAQ section
https://github.com/unlight/sublime-import-helper#faq

[2018-01-29 20:53] xihaoxiaohao commented on #49
I did create a project file, do you mind share your project file settings? thanks.

[2018-01-30 06:50] unlight commented on #49
I do not have any specific settings for plugin. Just defaults.
Can you provide your package.json?

Also to figure out the problem, I can advice you enable debug mode:
https://github.com/unlight/sublime-import-helper/issues/32#issuecomment-303237359
[code]

[2018-02-02 06:15] xihaoxiaohao commented on #49
Here is what I did, I also update the import, but still don't see the Component module from the selection, I can only see the module from the src folder.
![a](https://user-images.githubusercontent.com/9826637/35719211-296e359a-079d-11e8-970a-0fd0b5b6d4cd.gif)

Here is my package.json:

[code]

and after enable debug, here is the log:
[code]

[2018-02-04 09:58] unlight commented on #49
It works for me. I'm able to see all angular/rx/other modules in the list.

Did you do `npm install`?
Does `node_modules` folder contains something?
Are you using non-standard package manager (pnpm, ied)?

[2018-02-04 20:13] xihaoxiaohao commented on #49
I created a new angular project and it worked on the new project, maybe my old project have some weird settings...

[2018-02-06 06:43] katanacrimson opened #50 "folder_exclude_patterns not being obeyed for imports"
As on tin. Currently, my project file is the following:

[code]

It lives at `D:\code\redbooru-api.sublime-project`.

I have typescript compiling everything from `D:\code\redbooru\api\src\` into `D:\code\redbooru\api\build\`, and have Sublime excluding that directory (and *Sublime* is visually excluding the directory), however when using the plugin, I'm seeing this happen:

![image](https://user-i

[2018-02-06 17:41] unlight commented on #50
As a workaround, you can change pattern to
[code]

I'll fix it in next release.

[2018-02-06 19:28] katanacrimson commented on #50
Cool - workaround works fine. Thanks much!

[2018-02-17 15:04] ghost opened #51 "export default doesn't work"
Here is my working import
`import SettingsContainer from '../../containers/Dashboard/SettingsContainer`
Here is export default:
[code]
[And i got this](https://imgur.com/a/kyKQQ)
And this is not only one issue. Sometimes after restarting sublime I need to recreate project file to make it work.
Here is my config:
[code]
I hope you will help.
P.S: Sorry for my bad english.

[2018-02-22 10:37] jurito opened #52 "Follow tsconfig.json baseUrl"
Maybe a stupid issue but how to set the imports relative to the tsconfig.json's **baseUrl**?
Tried with the **path_source** conf option to no avail.

[2018-02-22 17:44] #51 closed, assigned to unlight

[2018-02-22 17:45] unlight commented on #50
Fixed by 9387ba3867a936a8a00a199b8898bded7d1c3593 will be shipped to v1.8.1

[2018-02-22 17:45] #50 closed, assigned to unlight

[2018-02-22 17:46] unlight commented on #51
Fix will be shipped with v1.8.1

[2018-02-22 19:20] unlight commented on #20
Checked `lodash` and `@types/lodash`
From `lodash` module, I got such response:
[code]
It's possible to insert import, but it depends on #13 #14
Similar functionality has [EasyRequire](https://packagecontrol.io/packages/EasyRequire) package.
`@types/lodash` is failed to parse, it uses triple directive `/// <reference ...` it must be parsed by typescript.

Result of parsing `lodash-es` is good: 200

[2018-03-16 18:44] unlight opened #53 "Switch to microbundle"

[2018-03-23 11:28] shindler opened #54 "Add support for aliases"
In typescript it's possible to use aliases to ref. files. It would be nice if it would be possible to configure import helper to use them (even if separate configuration would be required) then whenever an import statement is going to contain double-dot (..) and lives under alias root directory we get a path based on the alias. For instance:

we have an angular app and an alias "@app" which points

[2018-03-23 21:47] unlight commented on #54
#52 Duplicate

[2018-03-23 22:07] unlight commented on #54
Everything is possible. The problem is how it should look in UI, because paths can be resolved in several ways:
`../../foo.component` can be same as:
1. `@app/components/foo.component.ts`
2. `~components/foo.component.ts`
3. other

What should be chosen and why...

[2018-03-25 17:59] matutter opened #55 "Cannot find node because NVM?"
Just after installing with package control this exception pops up and import-helper doesn't work.

[code]

For clarity,

[code]

[2018-03-26 07:25] shindler commented on #54
Actually I gave the answer already in my proposal :): `whenever an import statement is going to contain double-dot` -> use alias.

However I think that this could be tuned up a little bit by adding an ability to select `alias-usage-strategy`:
- `always` then each import should be added using first matching alias
- `parent-only` only when import will contain double-dot (so we need to go up in direc

[2018-03-26 21:25] unlight commented on #55
People were complaining at the beginning, but later, after some improvement, seems this error was resolved.

Did you try to specify `node_bin` explicitly?
https://github.com/unlight/sublime-import-helper#node_bin

[2018-03-29 00:15] matutter commented on #55
@unlight Thanks! This fixes the issue.

[2018-03-29 00:15] #55 closed, assigned to unlight

[2018-04-12 18:29] andfaulkner opened #56 "Leaves invalid statement on erased unused imports from "import * as x from 'x'" statements"
For example, if I have this import statement, where someLib isn't used in the current file:
[code]
...when I run "Remove unused imports", it outputs:
[code]

I'd expect it to erase the entire import statement instead.

[2018-04-14 19:08] unlight commented on #56
Fixed in v1.8.2

[2018-04-14 19:08] #56 closed, assigned to unlight

[2018-04-14 19:53] unlight commented on #52
Continue discussion in #54

[2018-04-14 19:53] #52 closed, assigned to unlight

[2018-04-14 19:55] unlight commented on #54
@shindler @jurito
Please provide your `tsconfig.json` contents

[2018-04-14 19:55] unlight commented on #53
Will not work

[2018-04-14 19:55] #53 closed, assigned to nobody

[2018-04-16 06:26] shindler commented on #54
@unlight
[code]

here you go, my `tsconfig.json` used within angular-cli application. First alias `@corpo-ui` is for loading module, second allows to load anything from given location... so for example inside `src/app/core/services/some.service.ts` we can do `import Something from '@portal/configs/something.config.ts'` instead of `import Something from '../../configs/something.config.ts'` assuming

[2018-04-19 12:30] ohabash commented on #49
@xihaoxiaohao @unlight
First: great plugin!

My problem is same. node_modules are not in the modules list. is there a way to force it? Could it have anything to do with node_modules being on many ignore lists

I also installed import helper after the project had already been created.

[2018-04-19 17:05] unlight commented on #49
@ohabash
Try [Update Imports](https://github.com/unlight/sublime-import-helper#update-imports) command (this force update list of node modules and source modules)

[2018-04-19 17:07] ohabash commented on #49
@unlight I should have mentioned that i am doing that. No luck though. only source modules are added. but 0 node_modules

[2018-04-19 17:11] unlight commented on #49
Hmm, maybe plugin cannot find modules (only typescript and es2015 are supported).
Can you provide contents of your `package.json`?

[2018-04-19 17:15] ohabash commented on #49
so my project has a nodejs server and the angular app... At the root is my servers `package.json` (none of those are in the list either) it looks like

    {
      "name": "fornida-prototype",
      "version": "1.0.0",
      "description": "",
      "main": "server.js",
      "scripts": {
        "test": "echo \"Error: no test specified\" && exit 1",
        "start": "node server.js"
      },

[2018-04-19 17:22] unlight commented on #49
Also please contents of the your `.sublime-project` file.

[2018-04-19 17:39] unlight commented on #49
@ohabash
Probably your `package.json` in subfolder (client). This folder is supposed to be root.
So your sublime project file should looks like:
[code]
But if you have multiple folders in your project (e.g. `server` and `client`) than you can import from node_modules only from 1 sub-folder - you must explicitly set `import_root`:
https://github.com/unlight/sublime-import-helper#import_root-project

[2018-04-19 18:47] ohabash commented on #49
Nice that works. Will never write an import statement again! (used the 2nd option)

[2018-04-19 19:51] #49 closed, assigned to unlight

[2018-04-20 20:54] andfaulkner commented on #56
Thanks @unlight, much appreciated :)

[2018-05-05 09:37] Appius opened #57 "Support of auto_complete"
Hello,

It would be really good to see support of auto_complete functionality.
When you try to type something, sublime suggests a list of auto_completes, it should contain list of possible auto imports (from your "List imports") and when you choose something, it should be automatically auto-imported.

I can try to implement it by myself and create a pull request.

Thanks.

[2018-05-09 12:53] unlight commented on #57
Unfortunately, there is no API to detect what was selected from autocomplete list.
So technically `auto-import` is possible but it will take more effort.

[2018-05-09 13:49] Appius commented on #57
The first attempt was made this weekend and I was able to add auto-suggestions to the list (see this [commit](https://github.com/Appius/sublime-import-helper/commit/37f4471e3b35b54fc8ad451c254df289c7b4332a)).

What I have not figured out yet, is how to filter auto-completion - _when_ do you need to add possible variants?
Right now when you try to type anything on the new line, it suggests possible

[2018-05-09 19:32] unlight commented on #57
Thanks for example.
I've started implementation.
There is another feature in development #54, I will release both with next release.

[2018-05-12 19:35] unlight commented on #57
Autocomplete feature is implemented in v2.0.0+, but auto import is not enabled by default.
https://github.com/unlight/sublime-import-helper#autocomplete_auto_import

[2018-05-12 19:35] #57 closed, assigned to unlight

[2018-05-12 19:37] unlight commented on #54
Implemented in v2.0.0+
https://github.com/unlight/sublime-import-helper#import_path_mapping
But is not enabled by default.

[2018-05-12 19:37] #54 closed, assigned to unlight

[2018-06-28 18:20] PCatinean commented on #49
Hi and thank you for this really nice plugin (stopped me from changing editors).

I have the same issue as the guys above, tried it all, even the latest solution "import_root" and it seems to have no effect after I update modules.

The debug mode shows how it traverses all directories from my root including my personal modules but not the standard ones from angular. Not sure how to proceed

[2018-08-02 09:11] Nemesis19 opened #58 "Update source modules add keymap"
Dear developer,

could you add a keypam to the command "Update source modules"? it can be very helpful to quickly update the sources and import correctly new models/components etc...

thanks

[2018-08-13 17:48] unlight commented on #58
@Nemesis19
You can bind by editing `Data\Packages\User\Default (Windows).sublime-keymap` file
Top Menu -> Preferences -> Key binding:
Add to the end:
[code]

[2018-08-13 19:58] Nemesis19 commented on #58
Simply awesome

[2018-08-15 06:16] unlight commented on #58
Added in 2.0.1

[2018-08-15 06:16] #58 closed, assigned to unlight

[2018-10-09 15:50] bobpearson opened #59 "Option to remove 'index' from the import path."
It is common to place an index.js file in a module directory to be a single point of contact for exports from the module.   If the path to the index is:

[code]
then
[code]
is sufficient.   An option to trim a final '/index' from a path would be a nice feature.

Can this be done with path mapping?   If so, I did not find it.

[2018-10-15 19:53] unlight commented on #59
Feature will be shipped in next version, with enabled by default state.
I need some time to test it.

[2018-10-22 10:12] Afzal7 opened #60 "Error in importing modules in Angular6 app"
Hi guys, good job on the plugin really helps a lot. I just get this issue everytime i do a fresh install. So i have created a sublime project file and restarted sublime. After that, this was the error in the sublime terminal:

  File "/home/afzal/.config/sublime-text-3/Packages/ImportHelper/import_helper.py", line 30, in setup
    update_typescript_paths()
  File "/home/afzal/.config/sublime-text-

[2018-10-22 17:49] unlight commented on #60
Hi.
Thanks for bug report, I'll fix that.
As a workaround you can add  `"paths": {}` to your `tsconfig.json -> compilerOptions`

[2018-10-22 17:50] #60 closed, assigned to nobody

[2018-10-22 17:54] unlight commented on #59
Released in v2.0.2

[2018-10-22 17:54] #59 closed, assigned to unlight

[2018-11-10 21:00] kublaios opened #61 "TypeError: Path must be a string"
After installing the plugin, I restarted ST a couple of times after getting `No imports found for 'FormControl'` and then realised that I'm currently not in a project, so I created a project and restarted ST. Ever since I get this error on launch (on alert box), also imports are still not working:
[code]

And here is the console output:
[code]

[2018-12-05 19:54] unlight opened #62 "Remove unused import"
Do not removes identifiers with special chars `$`

[2018-12-07 20:57] #62 closed, assigned to nobody

[2018-12-07 21:31] unlight commented on #61
@kublaios
Sorry for delay, somehow I did miss notification.
Could you provide you `package.json` (dependency and dev dependency list)?

Error is coming from
[code]
This is from `browser-resolve` of `browserify`

I suspect that some of dependency using in `package.main` this value `[ './dist/css/*', './dist/fonts/*' ]`, which is weird
https://github.com/stereobooster/package.json#main

As a workaro

[2018-12-07 21:33] unlight commented on #14
Alternative
https://packagecontrol.io/packages/NodeRequirer

[2018-12-08 12:07] kublaios commented on #61
Hey @unlight,

The project is the Angular 5 and Bootstrap 4 edition of a commercial template named MaterialWrap: http://materialwrap.authenticgoods.co

Here are the `dependencies` and `devDependencies` from `package.json`:

[code]

[2018-12-09 18:05] unlight commented on #61
Issue @ zavoloklom/material-design-iconic-font#111

[2018-12-21 22:16] unlight commented on #61
Fixed in v2.0.5

[2018-12-21 22:16] #61 closed, assigned to unlight

[2019-03-05 09:21] unlight opened #63 "Import default (if identifier is not valid)"

[2019-03-14 20:57] unlight commented on #63
`cross-spawn`

[2019-03-19 19:47] unlight commented on #63
Fixed in dev

[2019-03-19 19:47] #63 closed, assigned to nobody

[2019-03-21 19:25] unlight commented on #13
Done in dev version, but limited in name detection,
only `module.exports.name` recognized

[2019-03-21 19:25] #13 closed, assigned to unlight

[2019-04-10 19:09] unlight commented on #20
Imlemented in version 2.1.0, non esm modules will be imported as 'import all' `import * as lib` or 'import default'

[2019-04-10 19:09] #20 closed, assigned to unlight

[2019-04-10 19:10] unlight commented on #14
Implemented in 2.1.0

[2019-04-10 19:10] #14 closed, assigned to unlight

[2019-05-29 09:55] Zyets opened #65 "No imports found"
ImportHelper at some point lost all source modules and refuses to update them.

Here is log from debug mode:
[code]

I've got package file and its dumb - only project path, I removed all other settings and exclusions. Still no source modules.

I went into package source code and found out that get_folder script returns empty array to this method (result is []):

I dont know how to debug get_folder

[2019-05-29 13:31] unlight commented on #65
Please, provide contents of your project file `.sublime-project`

[2019-05-30 04:27] Zyets commented on #65
{ "folders": [ { "path": "/home/zyets/projects/client" }, ] }

[2019-05-30 04:48] Zyets commented on #65
Also, i've already tried to reinstall the package few times but that did not help at all.

[2019-05-30 07:38] unlight commented on #65
Ok, let's try to figure out the problem.
1. Goto sublime_text folder -> Data -> Packages -> Import Helper
2. Run `node backend_run.js get_folders '{"folders":["/home/zyets/projects/client"]}'`

You should see empty array.
It is not expected, because in this folder your source code.

Try to create a new folder e.g. `client2` and create js file with content:
[code]
Then run `node backend_run.js get_

[2019-05-30 09:19] Zyets commented on #65
Thanks a lot for reply! It helped!
I found out following strange things:

The code was fine, but compiled app was crashing the process. To be precise, vendor.bundle.js was doing that, but i dont think problem is actually with the file. I was looking for exact spot in the code which makes troubles, so i cut chunk by chunk out of the code, until the command started returning correct result, and so i

[2019-05-30 09:19] #65 closed, assigned to unlight

[2019-05-30 11:04] unlight commented on #65
@Zyets
You should exclude files such `vendor.bundle.js` or any other binaries from source folder and prevent parsing it.

Can you please provide the scope - what line crashed `esm-exports`?

[2019-05-31 06:35] Zyets commented on #65
Ok. Here's my initial project file:

[code]
There are few directories, which may contain bundle files. Normally, they are all excluded from the project.

Also I ran through `get_source_folders` (utils.py) method, it ignores all the `exclude_patterns`. So does the get_folders command.

I think that should be fixed in future updates, but not critical. Should i reopen the issue?

Also i can not tell

[2019-05-31 09:09] unlight commented on #65
Ok, it is because esm-exports fails silently and returns empty array.

There is an issue when `exclude` in plugin happens after get_source_command
This is already fixed in master branch
https://github.com/unlight/sublime-import-helper/pull/64

Will released in v2.2.0 today evening.

[2019-06-08 14:46] unlight opened #66 "side effect import is not detected as import"

[2019-06-08 14:47] unlight opened #67 "Add import to existing block event if not on top"

[2019-06-14 19:53] #66 closed, assigned to unlight

[2019-06-15 18:33] #67 closed, assigned to unlight

[2019-06-25 03:40] iahu opened #68 "Each action add a new line, even if they are dependency a same module"
each action add a new line, even if they are dependency a same module
[code]

It should be one line
[code]

[2019-06-25 10:39] unlight commented on #68
Yes, it's known.
Such syntax is not supported in typescript.
At least shoud be:
[code]
I'll check what I can do.

[2019-08-04 11:49] kud opened #69 "Is it possible to make it work without project?"

[2019-08-05 08:00] unlight commented on #69
Without effort - no.
There are many open questions if open file outside from the project:
- Scan files to descendant files/folder only
- Scan parent folders? How to detect root, when to stop (tsconfig.json, jsconfig.json)
- What files/folder should be ignored

[2019-08-05 08:23] kud commented on #69
Interesting, thank you for the answer.

I'll go deeper into projects, I don't use 'em all but it could help me at the end.

[2019-10-04 06:30] unlight opened #70 "[WinError 206] The filename or extension is too long"
Long list in `folder_exclude_patterns` cause subj. error

[2019-10-30 23:23] Berbass opened #71 "Not working when trying to import enum"

[2019-10-31 03:08] rafaumeu opened #72 "React-native tag imports don't work"
![Captura de tela_2019-10-30_23-52-07](https://user-images.githubusercontent.com/30784471/67915491-ef872b00-fb71-11e9-8eba-e4080b201e5a.png)
Even using package shortcuts, tags are not recognized and do not import, only manually. Error: import not found for.

[2019-11-03 16:32] #71 closed, assigned to unlight

[2019-11-03 17:02] unlight commented on #71
Fixed in v2.3.1

[2019-11-03 17:22] unlight commented on #72
react-native is referencing to `node_modules/react-native/Libraries/react-native/react-native-implementation.js` which is not es2015 or typescript file.

Try to install `@types/react-native`

[2019-11-06 01:00] rafaumeu commented on #68
the same happens when the file is closed, it adds as imports of a depedence in a new line. When should add in the same entry already created previously

[2019-11-06 01:02] rafaumeu commented on #72
It worked

[2019-11-06 02:03] rafaumeu commented on #72
any suggestions for working with react?

[2019-11-06 02:27] iahu commented on #68
@rafaumeu  in face, there are another project named [import-js](https://github.com/Galooshi/import-js), just work well in most time.

[2019-11-06 20:18] unlight commented on #72
Same. Install `@types/react`

[2019-12-24 16:18] adevart opened #74 "Errors when updating source modules"
I opened a Typescript project directory and there were no import suggestions found for some class names. I tried updating the source modules and the following errors were logged:

File "Sublime Text 3/Packages/ImportHelper/import_helper.py", line 156, in run
    update_source_modules()
  File "Sublime Text 3/Packages/ImportHelper/import_helper.py", line 34, in update_source_modules
    source_fold

[2019-12-26 15:51] adevart commented on #74
I see now, it requires a project to be made first. I saw the error about requiring a project in the source code, I didn't see an error in the UI. It's also formatting imports differently from what I use.

I do:
module module.name { export class ClassToImport() }
module module.name2 { import ClassToImport = module.name.ClassToImport }

I put the import declarations inside the namespace and module a

[2019-12-26 15:51] #74 closed, assigned to nobody

[2020-02-26 23:36] hassey13 opened #75 "Error finding node"
Love the package, but ran into a snag.

I have node downloaded with nvm, I have the paths correctly setup in Sublime 3, but I am still getting an error with the extension.

[code]

Any thoughts on the issue?

[2020-02-27 18:39] #75 closed, assigned to nobody

[2020-03-03 18:22] #72 closed, assigned to nobody

[2020-03-14 09:21] sebkolind opened #77 "Auto autocomplete"
For some reason, Auto import when selecting from the auto-complete menu does not work for me. I have the following settings:

[code]

Do I have to do something special to get this working?

[2020-03-17 19:15] unlight commented on #77
It works after sublime auto-complete (ctrl + space):
type -> ctrl+space ... -> tab or enter

[2020-03-20 13:39] thepigeonoftime opened #78 "Typescript compiler error when removing unused imports"
Hi,
when trying to remove unused imports I'm getting

`    Import Helper
    Error while running typescript compiler:
    Error: spawn node_modules/.bin/tsc ENOENT
        at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
        at onErrorNT (internal/child_process.js:467:16)
        at processTicksAndRejections (internal/process/task_queues.js:84:21) {
      errno: -2,

[2020-03-30 19:16] sebkolind commented on #77
@unlight That does not work at all at my version. I've gone back to Vim tho, so this should be closed if nobody else got the same issue.

[2020-04-26 23:28] saessugo opened #79 "It doesn´t wanna import @angular/material": "^8.2.3""
![image](https://user-images.githubusercontent.com/29466915/80322503-b44d7800-87f3-11ea-8a9d-23b115e74b85.png)

It's the only problem I have, all the other modules are imported well. Can't seem to figure out, I thought maybe was a permission issue but I already gave that folder all the permissions for all the users, just in case, I'm on Windows 10 btw

[2020-05-27 19:38] unlight commented on #79
`@angular/material` has a lot of modules and submodules.
Error happened from `esm-exports` module, looks like search of imports gone to infinite recursive loop.
[code]

I could not find effective algorithm to extract imports from module

`esm-exports` requires heavy refactoring

[2020-06-09 01:30] #70 closed

[2020-06-09 11:13] unlight commented on #79
@19gonchi92 Should be fixed in version `3.0.0`, please check.

[2020-06-09 11:16] unlight commented on #69
@kud
Please check version `3.0.0`

[2020-06-09 11:17] unlight commented on #68
@iahu Should be fixed in version `3.0.0`

[2020-06-09 11:21] unlight commented on #78
code `ENOENT` means no such file, looks like you do not have `node_modules/.bin/tsc` file in your project, `tsc` comes from `typescript`.

Do you have `package.json`? Did you do `npm install`?

Btw, `Remove unused import` command was removed since version 3.0.0

[2020-06-09 13:04] iahu commented on #68
That’ll be a good news, thanks.

[2020-06-10 01:57] mattbourke opened #80 "released 3.0.0 has broken all functionality for me"
Hi,
Normally a great package, thanks for this.

Today my sublime upgraded this package to 3.0.0
Now when I run things like "list imports" and "update source modules" (my regular commands)
I get errors like the below.  - I'm on a Mac, running node 10.21.0 via nvm. Sublimetext version Build 3211
[code]

[2020-06-10 05:23] unlight commented on #80
Hi, version 3.0.0 fequires modern version of nodejs 10+

[2020-06-10 05:30] mattbourke commented on #80
I'm running  10.21.0 which is lts/dubnium so latest version of 10, or do you mean 11+?

[2020-06-10 06:14] #80 closed, assigned to nobody

[2020-06-10 06:16] unlight commented on #80
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on [GitHub release](https://github.com/unlight/sublime-import-helper/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-10 06:19] unlight commented on #80
12+ is better -) Sorry, experimental flag for Readable[Symbol.asyncIterator] was removed in 11.4+ https://github.com/nodejs/node/pull/26989/files

In `3.0.1` I added `--no-warnings` to node args, should work in node `10.0.0` without errors

[2020-06-10 06:24] mattbourke commented on #80
Thanks a lot, I'll be sure to grab it :D

[2020-06-10 06:26] mattbourke commented on #80
I'm not sure what is involved with publishing sublimetext packages, how long should I expect until it's available on package control?

[2020-06-10 06:43] unlight commented on #80
Approximately ~ 1 hour, but sometimes it can take up to 3 hours.

[2020-06-10 07:06] mattbourke commented on #80
Thanks, I'll let you know tomorrow how it goes.
спокойной ночи

[2020-06-11 00:47] mattbourke commented on #80
Awesome work!, that fixed it for me, once again thanks for the great package.
On another note: I have found in the past it can get bogged down by date-fns when updating source modules, if I see it again I'll raise a ticket.

[2020-06-15 13:28] gergof opened #81 "Error: Unknown command exportsFromFolder"
Since the latest update I have the following error when running the _Update Source Modules_ command:
![image](https://user-images.githubusercontent.com/10323997/84662916-1ccbf200-af25-11ea-997e-1cf7f65bbdd8.png)

[2020-06-15 15:54] unlight commented on #81
Looks like something went wrong while updating process.

Try to reinstall package.

If problem stays, try to download release from github https://github.com/unlight/sublime-import-helper/releases and update files manually

[2020-06-16 11:15] gergof commented on #81
Removing and reinstalling didn't work, but installing it manually did the trick. Thank you for the help!

[2020-06-16 11:15] #81 closed, assigned to nobody

[2020-06-21 00:48] ConnorVO opened #82 "Cannot find module for ..."
My folder setup is:

[code]
If I set my <project>.sublime-settings as below, it will import things from node_modules but will not import any of my own models.
`
"folders":
	[
		{
			"path": "./frontend/django-angular-heroku-discord"
		}
	],
`

However, If I set my .sublime-settings with a path of '.' and try to use import_root with the above filepath, it doesn't work at all.

Also, if I just set t

[2020-06-21 09:43] unlight commented on #82
I'm not sure that I fully understand context, but I will try clarify for my self by asking you several questions.

- You have 1 folder in your project file with 2 folders, correct?
- Do you have `folder_exclude_patterns` or `file_exclude_patterns` settings for folders in project file?
- Is `django-angular-heroku-discord` javascript or typescript project?
- Does this project `django-angular-heroku-

[2020-06-23 07:02] ConnorVO commented on #82
I have the below folder structure.
[code]

My .sublime-project file is below:
[code]

It does not work at all with the above settings. However, if I change the path to the same directory as node_modules, it works for importing items from the node_modules folder but still doesn't work for any of my custom components, models, etc.
[code]

I do have a tsconfig in my angular app, but I do not have any

[2020-06-23 19:06] unlight commented on #82
Sorry, but I couldn't reproduce this behavior.

[2020-06-25 23:48] mattbourke opened #83 "Unknown command exportsFromFolders"
When I run the command `Import Helper: Update source modules` I get the following error

Import Helper
Error: Unknown command exportsFromFolders
    at ./node_modules/import-adjutor/cli.js (/Users/mymachine/Library/Application Support/Sublime Text 3/Packages/ImportHelper/backend_run.js:11989:15)
    at process._tickCallback (internal/process/next_tick.js:68:7)

Using node lts/erbium (providing my

[2020-06-26 01:30] mattbourke commented on #83
seems to now be fixed on my machine, but not sure because I went around installing version 1.2.0 of this globally or not...
be interesting to see if others get it. https://github.com/unlight/import-adjutor/blob/eafc833967fb6dc53c43fdfb89643aaa8183fc83/CHANGELOG.md
I also installed the latest version too. so not sure if my error was a one off or not...
I noticed your package.json has import-adjutor

[2020-06-26 03:00] rhizene opened #84 "Could not check for imports"
I am using Sublime Text v3.2.2 build 3211 on Linux Mint

The following appears when I try to update source modules / opening up a sublime project:

[code]
I tried removing  the Optional catch binding, but ended up with the ff:

[code]

[2020-06-26 19:20] unlight commented on #84
It's likely that you have old version of nodejs, please, update to v12 or v14

[2020-06-26 19:32] unlight commented on #83
`exportsFromFolders` was removed from ImportHelper in 3.0.2
https://raw.githubusercontent.com/unlight/sublime-import-helper/v3.0.2/backend_run.js (no exportsFromFolders there)

I did not get you about install version globally (of what?) You do not need install additional modules, everything is bundled.

[2020-06-28 23:54] mattbourke commented on #83
ok no worries, I think it must have fixed its self.

[2020-06-28 23:54] #83 closed, assigned to nobody

[2020-06-30 19:53] #48 closed, assigned to unlight

[2020-06-30 19:54] unlight commented on #48
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/unlight/sublime-import-helper/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-07 08:20] rhizene commented on #84
@unlight thanks! I wasn't able to reply immediately but yes, node v12 resolved it for me

edit: before switching to  I was on Node 8.17.0.

[2020-07-07 08:20] #84 closed, assigned to nobody

[2020-08-21 22:03] sahilrajput03 commented on #77
This issue occurs to me to.. is there any chance it'll get resolved.?

[2020-08-27 08:44] unlight commented on #77
@sahilrajput03
It's not clear what
Please, provide your steps

[2020-08-27 14:19] sahilrajput03 commented on #77
Cool!!!
So, is there any change of getting this fixed ??

[2020-08-27 14:23] sahilrajput03 commented on #77
Pressing tab/enter on autocompletion doesn't import it, but after using tab/enter and then pressing ctrl+shift+i does work. Auto import with autocompletion doesn't work.!

[2020-08-27 14:33] unlight commented on #77
It should work after pressing tab/enter, but it's important to press `ctrl+space` before that.
Without `ctrl+space` it will not work. It's limitation.

@sahilrajput03 this is your case?

I'll try to check it again today.

[2020-08-27 14:40] sahilrajput03 commented on #77
![](https://imgur.com/LQOENuq.png)
First I tried it with tab, then with enter, but in end using ctrl+alt+i just works fine, I would love if import on autocompletion would work,, please see to it.., if you have time.!
***

User Settings as -
![User Settings](https://imgur.com/HChgItI.png)

***

Extension Settings as -

![](https://imgur.com/zXIs901.png)

***

Do I need to do something else too??

M

[2020-08-27 17:52] sahilrajput03 commented on #77
## Hey, I'm very sorry, I didn't try it with ctrl+space and try importing it!!
Its 100% working with the settings above!!
Thanks, buddy!!!!

![](https://imgur.com/8HCipVn.png)

[2020-08-27 17:52] sahilrajput03 commented on #77
I request you to close this issue!!

[2020-08-27 18:11] unlight commented on #77
Nice. I'll keep it opened for now, maybe I can improve it later.

[2020-08-28 07:33] sahilrajput03 commented on #77
Like without ctrl+space?.

[2020-09-11 13:39] unlight commented on #78
Or use 'organize imports' command from typescript plugin

[2020-09-11 13:39] #78 closed, assigned to nobody

[2020-09-11 13:43] kud commented on #69
eesh :D I switched to VS Code since. 😬

I'll try again.

[2020-10-01 15:40] bartoszkrawczyk2 opened #89 "Unexpected token"
Hi, I'm getting this error:
<img width="532" alt="Zrzut ekranu 2020-10-1 o 17 38 04" src="https://user-images.githubusercontent.com/7081383/94831525-1ba7cd80-040d-11eb-9775-5d0c41579bef.png">

ImportHelper version: 3.1.0
Sublime Text version: 3.2.2

Any idea how to solve it?

[2020-10-01 16:56] unlight commented on #89
What version of node.js are you using?
Node.js 10+ is required

[2020-10-01 19:06] bartoszkrawczyk2 commented on #89
10.15.1

[2020-10-01 19:16] unlight commented on #89
I tested with 10.0.0 and it worked for me.
I'll retest it. Right now, I can suggest to update to latest version - 14.

[2020-10-01 19:17] unlight commented on #89
#84 Similar issue

[2020-10-14 06:22] sebkolind commented on #77
I can only get this to work when finishing the name of the symbol, and then pressing Ctrl+Alt+I (i), which lets me choose from a list of possible imports.

[2020-10-14 19:45] unlight commented on #77
@sebastianks
This is not how it supposed to be.
Auto Import should work like auto complete: when you press tab / enter, word completes, import statement added.

[2020-10-14 22:32] urraka opened #90 "Handle multiple windows"
Hello!

I've been using this plugin for a while now. Very helpful so thanks for the efforts!

I tend to work with multiple projects in different windows at the same time and this doesn't seem to play nicely with this plugin. I work around it by running the initialize command after switching windows from time to time, which works but of course it's not ideal.

Any chance to add better support for m

[2020-10-16 07:21] mjasnikovs opened #91 "node_bin setting ignored"
![image](https://user-images.githubusercontent.com/12757881/96223347-6f322380-0f96-11eb-9298-10d6cd509f7b.png)

[code]

node_bin setting ignored ¯\_(ツ)_/¯

And when I manually fixed this bug...

![image](https://user-images.githubusercontent.com/12757881/96225172-5f680e80-0f99-11eb-94e7-09c8045ca2dd.png)

[2020-10-16 17:42] unlight commented on #91
Is `/home/emja/hub` folder exists?
Probably node.js do not have permissions to view it.

[2020-10-17 20:00] unlight commented on #91
I cannot reproduce it.
Setting `node_bin` in `Data\Packages\User\import_helper.sublime-settings` is reflected correctly and plugin uses it.
Try to restart sublime_text after changing.

Btw, `which node` in sublime console does not make sense.

[2020-10-17 20:38] unlight commented on #90
It possible, but sublime 3 does not have API to get window identifier when closing window.
In the end, it will create memory leak.

Corresponding API will be available in sublime text 4 since v4050.

[2020-10-20 05:24] mjasnikovs commented on #91
Closed, i found a working alternative.

[2020-10-20 05:24] #91 closed, assigned to nobody

[2020-11-26 08:29] passelord opened #93 "File not found Exception"
Hello,

I thank you for your plugin. I have an error when I start SublimeText or when I try to use some functionality of Import Helper (initialize / setup / update modules and update source modules).
There is a screenshot.
The sentence "Le fichier spécifié est introuvable" means "The specified file is not found".

Thank you for your help.

![image](https://user-images.githubusercontent.com/5064083

[2020-11-26 08:30] passelord commented on #93
P.S. : I am coding in Java. If you have any question, tell me.

[2020-11-26 08:35] unlight commented on #93
Hello.
1. Do you have node.js installed on you system? If yes, probably [configuring node_bin](https://github.com/unlight/sublime-import-helper#node_bin) may help.
2. If you language is Java, plugin will not work.
  https://github.com/unlight/sublime-import-helper#supported-languages
  Supported languages:
    - TypeScript
    - JavaScript (ES2015)

[2020-11-26 08:42] passelord commented on #93
Ho! Sorry I believed that Java was supported... Sorry for the disturbing.

[2020-11-26 08:42] #93 closed, assigned to nobody

[2021-04-20 08:44] tukusejssirs opened #97 "Import Helper does not respect `eslint`/`prettier` rules"
I prefer no spaces after `{` and before `}`, and no semicolon after commands. I have set `eslint` and `prettier` accordingly.

However, I could not find a way to make Import Helper respect these settings. Is there a way to configure this?

Thanks for this great plugin! :wink:

[2021-04-20 16:24] unlight commented on #97
Sorry, no. There is only one setting [from_quote](https://github.com/unlight/sublime-import-helper#from_quote)
It is not possible to take into account all potential code fixers, stylers and formatters.

I think, you can configure your editor to apply `eslint --fix` on save.

[2021-04-20 17:15] tukusejssirs commented on #97
Yes, I use that workaround, but I hoped we could insert the import correctly formatted.

---

I looked at the code, but I don’t code in Python. I’d like to change the hard-coded formatting to my preffered one (in my fork), but I was lost. Could you point me to the rignt file/line? Thanks. :wink:

[2021-04-20 18:11] unlight commented on #97
Actually there is no formatting in python code.
Python sends code to nodejs process and library [import-adjutor](https://github.com/unlight/import-adjutor) actually do inserting.

You need to check `insertImport` command https://github.com/unlight/import-adjutor/blob/master/src/insert-import.ts

On the other hand `import-adjutor` is a wrapper around [ts-morph](https://github.com/dsherret/ts-morph)

[2021-09-09 13:57] DVLP opened #105 "Cannot disable semicolon"
Using no semicolon in ES6 is a common practice. It seems like _from_semicolon_ used to be available but it was later removed. Can this option be restored?

[2021-09-09 16:15] unlight commented on #105
Unfortunately, `ts-morph` (which is used under the hood) does not provide such settings
See similar issue https://github.com/unlight/sublime-import-helper/issues/97

[2021-09-09 16:16] #79 closed, assigned to sasugo

[2021-09-09 16:17] #68 closed, assigned to iahu

[2021-09-09 21:57] DVLP commented on #105
What about a workaround and automatic trimming of the semicolon after the import line is created?

[2021-09-09 22:07] unlight commented on #105
Need to investigate

[2021-09-09 22:17] DVLP commented on #105
I opened an issue in ts-morph. Is this what's needed? https://github.com/dsherret/ts-morph/issues/1200

[2021-09-11 21:56] unlight commented on #105
Released in 4.0.0

[2021-09-11 21:56] #105 closed, assigned to unlight

[2021-09-11 21:57] #82 closed, assigned to ConnorVO

[2021-09-11 22:01] #89 closed, assigned to bartoszkrawczyk2

[2021-09-12 11:29] DVLP commented on #105
Thank you! Just tried in ST4 and works well. Regular package upgrade didn't work at first. Something about "settings" parameter. After reinstalling and restarting Sublime works well.

[2021-09-13 09:46] tukusejssirs commented on #97
@unlight, I see that in 4319e8d you added `no_semicolon`—thanks! That is half of the problem.

If similarly to `no_semicolon`, we could have a setting `no_spaces_in_brackets` it would be awesome. It would solve everything I need! :smiley:

[2021-09-16 18:36] unlight commented on #97
@tukusejssirs
Check v4.1.0 https://github.com/unlight/sublime-import-helper/releases

[2021-09-17 18:34] tukusejssirs commented on #97
Thanks for being so fast, @unlight!

However, I could not make it work. Package Control automatically upgraded the package to `v4.1.0`. I have the following in the package-specific settings:

[code]

When I add an import using Import Helper, it still added spaces in brackets and semicolons at the end of the line. I tested this in a third-party project though, where `.eslint` is configured to to us

[2021-09-18 12:44] unlight commented on #97
Where do you keep these settings? Package/User/import_helper.settings or in sublime-project file?

[2021-09-18 12:47] tukusejssirs commented on #97
I open the settings file via `Preferences` → `Package Settings` → `Import Helper`, which opens the package settings on the left and user settings (overrides) on the right. The user settings file is located in `~/.config/sublime-text/Packages/User/import_helper.sublime-settings`.

[2021-09-18 16:57] unlight commented on #97
Sorry, but I cant reproduce this.
Check settings in sublime project file, it has more priority.

[2021-09-18 17:48] tukusejssirs commented on #97
I’ve just checked it and now it works. Maybe it required a ST restart, which I didn’t do yesterday.

Anyway, it seems like it does not check the format of previously imported stuff, e.g. `import { one } from './app';` is changed into `import { one, two} from './app'` after importing `two`.

[2021-11-05 11:32] #69 closed, assigned to kud

[2021-11-29 14:52] tukusejssirs commented on #97
@unlight, I think we can close this issue. Although the original request is not fulfilled, my needs are satisfied. Thanks! :pray:

[2021-11-29 15:00] tukusejssirs opened #106 "Add a way to ignore folders/paths in project folder(s)"
I code in TypeScript, which needs to be compiled into JavaScript. We usually use `dist/` folder in the repo (project) root folder.

Now when I already have built the code (i.e. `dist/` folder already exists) and try to auto-import something that is both in the source and `dist/`, auto-import asks me to choose which one to import.

It might be a good idea to add an option to ignore some folders/pat

[2021-11-29 23:54] unlight commented on #106
It should work with folder_exclude_patterns setting in sublime project file. Add dist path to folder_exclude_patterns, see https://www.sublimetext.com/docs/projects.html#folders

[2021-11-30 11:39] tukusejssirs commented on #106
Thanks, @unlight!

The solution is to add `folder_exclude_patterns` array to the project file (`Project` → `Edit project`):

[code]

[2021-11-30 11:39] #106 closed, assigned to nobody

[2022-01-25 01:21] S1ngS1ng opened #107 "FileNotFoundError: [Errno 2] No such file or directory: 'node'"
Hi. Here is the error from my local machine:

[code]

So I checked other related issues, but those solution doesn't seem to work for me.
Meanwhile, I also did some research, here is what I added for debugging purposes:

- Since `exec_command.py` is where the error is throwing, I added this:
![image](https://user-images.githubusercontent.com/13592559/150892736-1bec532d-93bb-477c-9596-7a0d2bcf8348.p

[2022-01-28 13:16] unlight commented on #107
Sorry, I don't know how to help. `node_bin` option should work. Try to open project and restart sublime.

[2022-01-31 12:16] selvinkuik opened #108 "Work with absolute path resolution"
In my `webpack.config.js` I have:

[code]

So I can import modules via:

[code]

Is there a setting for `sublime-import-helper` that I can set that will respect this name resolution. Currently, when I insert import it uses relative paths

[2022-01-31 18:14] unlight commented on #108
`sublime-import-helper` supports paths maps from `tsconfig.json`, read more here
https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping

[2022-02-17 09:35] mhaecal commented on #107
the last option is change `NODE_BIN` value manually in `/home/USER/.config/sublime-text-3/Packages/ImportHelper/import_helper.py` to node executable

[2022-04-08 08:58] puittenbroek commented on #107
You shouldn't rely on a global `NODE_BIN`. Simply have a helper that does what your `initialize` does.
So something like this:
[code]

And then in exec_command:
[code]

[2022-05-04 13:54] #107 closed, assigned to unlight

[2022-06-07 07:55] tukusejssirs opened #113 "EACCES: permission denied"
Related: #106

---

@unlight, `folder_exclude_patterns` project config works when the user has at least read permissions all files and folders in a all project folders, even to those that are matching in `folder_exclude_patterns`.

I have a Docker folder with PostgreSQL data, which are owned by `postgres` user. I have added the folder into `folder_exclude_patterns`, but Import Helper still complai

[2022-06-12 11:03] unlight commented on #113
I'm not sure about the root of issue, but looks like typescript file system is trying to read it.

Can you try to add these folders to `tsconfig exclude` also?

[2022-09-02 08:53] tukusejssirs commented on #113
Sorry, @unlight, for late reply.

I’ve just tried to add the folder to `exclude` array in `tsconfig` and it seems to work as expected.

Thanks! :pray:

[2022-09-04 10:14] #113 closed, assigned to unlight

[2022-11-14 16:03] salihaker commented on #32
Go to Settings > Predictions > Package Settings > Import Helper and on line 20 we find "node_bin": "",
And we do this "node_bin": "/path /for /you /node",
"node_bin": "/usr/local/bin/node", in my case